build-dev-Project:                                 
 stage: build                                  
 image: trion/ng-cli   
 only:
 - dev                        
 before_script:
  - echo "Iniciando la compilaci贸n del c贸digo"
  #- cd api-nielsen    
 script:
  - echo "$PRIVATE_KEY_FBDEVREFERIDOS" > fbdevreferidos.key     
  - chmod 600 fbdevreferidos.key                   
  - ls -lah                                  
  - ssh-agent bash -c -v 'ssh-add fbdevreferidos.key; scp -o StrictHostKeyChecking=no -r *  developer@104.131.88.16:/home/developer/api/'

build-Volt-F0.1-Project:                                 
 stage: build                                  
 image: trion/ng-cli   
 only:
 - Volt-F0.1                    
 before_script:
  - echo "Iniciando la compilaci贸n del c贸digo"
  #- cd api-nielsen    
 script:
  - echo "$PRIVATE_KEY_REFERIDOS2" > referidos2.key     
  - chmod 600 referidos2.key                   
  - ls -lah                                  
  - ssh-agent bash -c -v 'ssh-add referidos2.key; scp -o StrictHostKeyChecking=no -r *  developer@68.183.155.83:/home/developer/api/'

